<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Loan <%= loan._id %>
    </title>
</head>

<body>
    <h1>Loan <%= loan._id %> | <a href="/users/logout">Logout</a>
    </h1>
    <p>Amount: <%= loan.amount %>
    </p>
    <p>Interest Rate: <%= loan.interestRate %>
    </p>
    <p>Term: <%= loan.term %>
    </p>
    <p>User: <%= loan.user %>
    </p>
    <a href="/loans">Back to Loans</a>
</body>

</html>