<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Users</title>
</head>

<body>
    <h1>Users | <a href="/users/logout">Logout</a></h1>
    <table>
        <thead>
            <tr>
                <% if(accountLevel==='admin' ) {%>
                    <th>ID</th>
                    <% } %>
                        <th>Username</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Date of Birth</th>
                        <th>Account Level</th>
                        <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user=> { %> <tr>
                    <% if(accountLevel==='admin' ) {%>
                        <td>
                            <%= user._id %>
                        </td>
                        <% } %>
                            <td>
                                <%= user.username %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%= user.firstName %>
                            </td>
                            <td>
                                <%= user.lastName %>
                            </td>
                            <td>
                                <%= user.dateOfBirth.toDateString() %>
                            </td>
                            <td>
                                <%= user.accountLevel %>
                            </td>
                            <td>
                                <a href="/users/<%= user._id %>">View</a> | <a
                                    href="/users/<%= user._id %>/edit">Edit</a>
                                <% if(accountLevel==='admin' ) {%> | <a href="/users/delete/<%= user._id %>">Delete</a>
                                    <% } %>
                            </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <% if(accountLevel==='admin' ) {%>
        <a href="/users/create">Create new user</a>
        <% } %>
</body>

</html>