<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>User Details</title>
</head>

<body>
    <h1>User Details | <a href="/users/logout">Logout</a> </h1>
    <p>Username: <%= user.username %>
    </p>
    <p>Email: <%= user.email %>
    </p>
    <p>First Name: <%= user.firstName %>
    </p>
    <p>Last Name: <%= user.lastName %>
    </p>
    <p>Date of Birth: <%= user.dateOfBirth.toDateString() %>
    </p>
    <p>Account Level: <%= user.accountLevel %>
    </p>
    <a href="/users">Back to Users</a>
</body>

</html>